.task {
	padding: 15px 30px;
	transition: .1s;
	width: 85%;
    margin: auto;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
	cursor: pointer;
	border-radius: 5px;
}
  
.task:hover {
	background-color: #f2a154;
	color: white;
}

.task svg {
	margin-right: 9px;
}

.task .content {
	width: 100%;
	display: flex;
}

.text {
	display: inline;
	border: none;
	font-size: 1rem;
	background-color: transparent;
	width: 100%;
}

.text:focus {
	outline: none;
}