.add {	
	margin: auto 1rem 1.3rem 1rem;
}

.add form {
	display: flex;
	align-items: center;
}

.add input {
	border: 1px solid white;
	border-radius: 2rem;
	padding: 10px 10px 10px 20px;
	width: 100%;
	box-shadow: 0px 0px 59px -3px rgb(0 0 0 / 47%);
    -webkit-box-shadow: 0px 3px 30px -3px rgb(0 0 0 / 18%);
    -moz-box-shadow: 0px 0px 59px -3px rgba(0,0,0,0.47);
	font-size: 1rem;
	outline: none;
	color: #314e52;
	font-weight: 300;
}

.add button {
	background: -webkit-radial-gradient(bottom left, #ffc73c, salmon);
	color: white;
	padding: 9px 15px;
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: 1.3em;
	font-weight: bold;
	margin-left: 15px;
}

.add button svg {
	margin-right: 5px;
}

