.App {
	margin: auto;
	width: 100%;
	max-width: 700px;
	margin-top: 50px;
}

.App header {
	text-transform: uppercase;
	color: transparent;
	color: #8785a2;
	font-size: 4rem;
	padding: 30px;
	text-align: center;
	font-weight: bold;
}

